[user]
	name = Ebin Chacko
	email = ebin.chacko.ext@nokia.com

[color]
	ui = true
[color "branch"]
	current = green bold
	remote = red bold
[color "diff"]
	meta = yellow
	frag = cyan bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = red bold
[push]
	default = simple
	recurseSubmodules = on-demand
[core]
	pager = /usr/bin/less -iMS
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
   sshCommand = /usr/bin/ssh -o LogLevel=QUIET
   preloadIndex = true
   untrackedCache = true
   fsmonitor = true
[pull]
	rebase = true
   recurseSubmodules = true
[submodule]
	recurse = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	st = status -sbuno --ignore-submodules
	ci = commit -v
	last = log -1 HEAD
   l = log --pretty=format:'%C(yellow)%h%C(magenta)%d%Creset %s %C(cyan)%cr %C(bold blue)<%an>%Creset' --graph --date=format:'%Y-%m-%d %H:%M:%S'
   d = diff -p
	dt = difftool
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[credential]
	helper = store
[init]
	defaultBranch = main
