[user]
	email = echacko@cewit.org.in
	name = echacko

[color]
	ui = true
[color "branch"]
	current = green bold
	remote = red bold
[color "diff"]
	meta = yellow
	frag = cyan bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = red bold

[core]
	editor = nvim
	excludesfile = /home/ebin/.gitignore_global
	autocrlf = input

[github]
	user = echacko

[diff]
	tool = meld
[difftool]
	prompt = false

[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false

[credential]
	helper = cache --timeout=3600

[format]
	pretty = oneline

[push]
	default = matching
[pull]
  ff = only

[alias]
	st = status -sb
	ci = commit -v
	last = log -1 HEAD
  l = log --pretty=format:'%C(yellow)%h%C(magenta)%d%Creset %s %C(cyan)%cr %C(bold blue)<%an>%Creset' --graph --date=format:'%Y-%m-%d %H:%M:%S'
	d = difftool
[init]
	defaultBranch = main
